@model WebProject001.Models.Shop

@{
    ViewData["Title"] = "Edit Shop";
}

<h1 class="text-info">Edit Shop</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="input-group mb-2">
                <label class="input-group-text" asp-for="ShopName" style="width: 100px"></label>
                <input type="text" class="form-control" asp-for="ShopName">
            </div>
            <div class="input-group mb-2">
                <span asp-validation-for="ShopName" class="text-danger"></span>
            </div>
            <div class="input-group mb-2">
                <label class="input-group-text" asp-for="AddressLine" style="width: 100px"></label>
                <input type="text" class="form-control" asp-for="AddressLine">
            </div>
            <div class="input-group mb-2">
                <span asp-validation-for="AddressLine" class="text-danger"></span>
            </div>
            <div class="input-group mb-2">
                <label class="input-group-text" asp-for="City" style="width: 100px"></label>
                <input type="text" class="form-control" asp-for="City">
            </div>
            <div class="input-group mb-2">
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-warning text-dark" type="submit">
                    <i class="bi bi-pen"></i>&nbsp;&nbsp;Update Shop
                </button>&nbsp;&nbsp;&nbsp;
                <a class="btn btn-secondary" asp-action="Index">
                    <i class="bi bi-ban"></i>&nbsp;&nbsp;Back to List
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
