@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center" style="width: 100%;">
    <div style="background-image: url('images/paper.jpg'); width: 617px; height: 519px" class="d-flex justify-content-center align-items-center">
        <div class="fs-3">
            <div class="col-12 ro text-center">
                Skills
            </div>
            <div>
                <ul style="list-style-type:none;">
                    <li><i class="bi bi-check2-square text-success"></i>&nbsp;Entity Framework 8</li>
                    <li><i class="bi bi-check2-square text-success"></i>&nbsp;Paging</li>
                    <li><i class="bi bi-check2-square text-success"></i>&nbsp;Sorting</li>
                    <li><i class="bi bi-check2-square text-success"></i>&nbsp;Searching</li>
                    <li><i class="bi bi-check2-square text-success"></i>&nbsp;Chart.js</li>
                    <li><i class="bi bi-check2-square text-success"></i>&nbsp;LINQ</li>
                    <li><i class="bi bi-check2-square text-success"></i>&nbsp;Bootstrap</li>
                </ul>
            </div>
        </div>
    </div>
</div>
